@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt');

.gameboard {
  background-color: green;
  height: 400px;
  border-radius: 10px;
  border: 1px solid #000000;
  margin-top: 50px;
}
.gamerow {
  height: 33%;
}

.t {
  font-size: 2em;
  transform: translate(100%,100%);
}

.s-r {
  border-right: 1px solid #ffffff;
  
}

.s-t {
  border-top: 1px solid #ffffff;
}


.row.matchmycols [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px; 
}

.row.matchmycols {
  overflow: hidden;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

h1 {
  font-family: 'Rock Salt';
  color: white;
}

h3,h2 {
  font-family: 'Open sans';
  color: white;
}


body {
  background-color: #505050;
}